:root, body {
    height: 100vh;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.container {
    display: grid;
    grid-template-rows: 1fr 4fr;
    grid-template-columns: 1fr 7fr;
    height: 100vh;
}

.header {
    display: grid;
    grid-template: 2fr 5fr / 3fr 1fr;
    grid-row: 1 / 2;
    grid-column: 2 / 3;
    padding: 0.75rem;
}

.search {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.personal {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

.username {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
}

.actions {
    display: flex;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-content: space-evenly;
}

.post {
    border: 2px solid black;
    border-radius: 30px;
}



.sideBoard {
    display: grid;
    grid-template: 2fr repeat(10, 1fr) / 1fr 5fr;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background-color: rgb(117, 117, 251);
    color: white;
    padding-left: 10px;
}



.main.content {
    display: grid;
    grid-template: 1fr 11fr / 3fr 1fr;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
    padding: 0.75rem;
    background-color: rgb(196, 196, 196);
}

.yourProjects {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.rightBar {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    margin-left: 15px;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}

.grid {
    display: grid;
    grid-template-rows: 1fr 8fr;
}

.grid .content {
    border: 2px solid black;
    grid-row: 2 / 3;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    
}

.card {
    border: 1px solid rgba(0, 0, 0, 0);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1rem;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.card.text {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0px;
    border: none;
    gap: 10px;
    
}

.card.header, .card.body, .card.text, .card.icons {
    margin: 0px;
    padding: 0px;
    border: none;
    box-shadow: none;
}

.card.icons {
    display: flex;
    flex-direction: row;
    justify-content: end;
    gap: 5px;
    border: none;
    padding: 0.6rem 0px 0px 0px;
}

svg.icon {
    width: 1rem;
    height: 1rem;
}

.dash {
    grid-row: 1 / 2;
    font-size: 1.75rem;
    margin-top: 10px;
}

.home {
    grid-row: 2 / 3;
}

.profile {
    grid-row: 3 / 4;
}

.messages {
    grid-row: 4 / 5;
}

.history {
    grid-row: 5 / 6;
}

.tasks {
    grid-row: 6 / 7;
}

.communities {
    grid-row: 7 / 8;
}

.settings {
    grid-row: 9 / 10;
}

.support {
    grid-row: 10 / 11;
}

.privacy {
    grid-row: 11 / 12;
}

.logo {
    grid-column: 1 / 2;
    width: 1.5rem;
    height: 1.5rem;
    color: white;
}

.item {
    grid-column: 2 / 3;
}